* {
	box-sizing: border-box;
}

html {
  height: -webkit-fill-available;
}

body {
	align-items: center;
	background-color: #f8f1f1;
	color: #fff;
	display: flex;
	flex-direction: column;
	font-family: 'Muli', sans-serif;
	font-size: 16px;
	justify-content: center;
	margin: 0;
	min-height: 100vh;
	min-height: -webkit-fill-available;
	padding: 10px;
}

.container {
	background-color: #19456b;
	border-radius: 2px;
	max-height: 100%;
	padding: 12px 27px 32px;
	width: 100%;
}

@media (min-width: 768px) {
	.container {
		padding: 20px 35px 40px;
		width: 425px;
	}	
}

h2 {
	margin: 10px 0 20px;
	text-align: center;
}

.result-container {
	align-items: center;	
	background-color: #11698e;	
	border-radius: 2px;
	display: flex;
	font-size: 18px;
	height: 50px;		
	justify-content: flex-start;
	letter-spacing: 1px;
	padding: 12px 10px 9px 15px;
	position: relative;	
	width: 100%;
}

.result-container .btn {
	font-size: 20px;
	height: 40px;
	position: absolute;
	right: 5px;
	top: 5px;
	width: 40px;
}

.btn {
	background-color: #16c79a;
	border: none;
	border-radius: 2px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	padding: 8px 12px;
	transition: background-color 200ms ease-in-out;
}

.btn:hover {
	background-color: #1cd4a5;
}

.btn-large {
	display: block;
	font-weight: 700;
	margin-top: 20px;
	width: 100%;
}

#result {
	font-size: 15px;
}

@media (min-width: 768px) {
	#result {
		font-size: 16px;
	}
}

.setting {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin: 15px 0;
}

.all {
	align-items: center;
	justify-content: center;
}

.range_slider {
	align-items: center;
	background: #11698e;
	border-radius: 2px;
	display: flex;
	height: calc(65px - 30px);
	justify-content: center;
	margin: 15px 0 5px;
	position: relative;
	width: 100%;
}

#length {
	-webkit-appearance: none;
	background: rgba(255, 255, 255, 0.314);
	border-radius: 5px;
	cursor: pointer;
	height: 2px;
	margin: 0;
	outline: none;
	width: calc(100% - (40px));
}

.field-title {
	color: rgba(255, 254, 254, 0.973);
	font-size: 0.75rem;
	font-weight: 700;
	left: 0;
	pointer-events: none;
	position: absolute;
	text-transform: uppercase;
	top: -10px;
	transform: translateY(-50%);
	user-select: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
	background: #16c79a;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 16px;
  width: 16px;
}

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
	background: #16c79a;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 16px;
  width: 16px;
}

input[type=range]::-ms-thumb {
  -webkit-appearance: none;
	background: #16c79a;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 16px;
  width: 16px;
}

.toggle {
  display: inline-block;
  position: relative;
}

.toggle-input {
  display: none;
}

.toggle-label {
	clip: rect(0 0 0 0);
	color: transparent;
	display: block;
	height: 20px;
	text-indent: -150%;
	user-select: none;
	width: 40px;
}

.toggle-label::before,
.toggle-label::after {
  content: "";
  cursor: pointer;
  display: block;
  position: absolute;
}

.toggle-label::before {
  -webkit-transition: background-color 0.25s ease;
  background-color: #11698e;
  border-radius: 9999em;
  height: 100%;
  transition: background-color 0.25s ease;
  width: 100%;
}

.toggle-label::after {
  -webkit-transition: left 0.25s ease;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
  height: 20px;
  left: 0;
  top: 0;
  transition: left 0.25s ease;
  width: 20px;
}

.toggle-input:checked + .toggle-label::before {
  background-color: #16c79a;
}

.toggle-input:checked + .toggle-label::after {
  left: 20px;
}

#alert {
	align-items: center;
	background-color: #16c79a;
	border-bottom: 3px solid #12ab84;
	color: #fff;
	display: flex;
	height: 50px;
	justify-content: center;
	left: 0;
	padding: 0 20px;
	position: fixed;
	top: 0;
	transition: transform 400ms ease-in-out;
	transform: translateY(-50px);
	width: 100%;
}

#alert.alert-show {
	transform: translateY(0);
}